html {
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    min-width: 540px;
    margin: 18px;
}
.skills-table, .business-table{
    width:100%;
}

/******************main area**************************/
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container{
    min-width: 540px;
}

.clicking-area-container {
    text-align: center;
    
}
.upgrade-stats-cell {
    width: 64px;
}
.upgrade-icon-cell{
    width: 110px;
    padding: 5px;
    
}
.skill-image{
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(255, 215, 0,25);

}

@media screen and (max-width: 1400px) {
       .main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "gold gold"
            "perclick persec";
        }
        .inventory-container.per-click{
            grid-area: perclick;
        }
        .inventory-container.per-sec{
            grid-area: persec;
        }
        
        .clicking-area-container {
           
            grid-area:gold;
        } 
}

@media screen and (max-width:992px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gold"
        "perclick"
        "persec";
    }
       
}

@media screen and (max-width:576px) {
    
    
}