html {
    font-size: 16px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body {
    min-width: 540px;
    margin: 18px;
    background-image:url(../images/arany_barsony_hatter.png);
}
.skills-table, .business-table{
    width:100%;
}

/******************main area**************************/

h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: rgb(245, 238, 230);
    text-shadow: rgb(122, 73, 32) 1px 1px;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container{
    min-width: 540px;
}

.clicking-area-container {
    text-align: center;
    
}
.upgrade-stats-cell {
    width: 70px;
    padding: 3px;;
}
.upgrade-text-cell{
    padding: 5px;
}
.upgrade-text-cell p{
    padding: 5px;
}
.upgrade-icon-cell{
    width: 110px;
    padding: 5px;
    
}
.skill-image{
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(255, 215, 0,25);
    cursor: pointer;
    user-select: none;

}
.skill-image:hover{
    cursor: pointer;
    user-select: none;
    transform:scale(1.1);
    transition: all 0.15s linear;

}

.inventory-container.per-click {
    margin:10px 10px 5px;
    border: 5px solid rgba(210, 143, 9, 0.464);
    border-radius: 20px;
    background-image: url(../images/aranyozott_hatt2.png);
    box-shadow:rgba(34, 26, 9, 0.464) 2px 5px 5px;
}
.inventory-container.per-sec {
    margin:10px 10px 5px;
    border: 5px solid rgba(210, 143, 9, 0.464);
    border-radius: 20px;
    background-image: url(../images/aranyozott_hatt2.png);
    box-shadow:rgba(34, 26, 9, 0.464) 2px 5px 5px;
    
}
.clicking-area-container {
    margin: 10px 10px 5px;
    padding-top: 25px;
    border: 5px solid rgba(210, 143, 9, 0.464);
    border-radius: 20px;
    background-image: url(../images/aranyozott_hatter.png);
    box-shadow:rgba(17, 14, 8, 0.464) 2px 5px 5px;
}
.goldcoin{
    cursor: pointer;
    user-select: none;
   
}
.goldcoin:hover{
    transition: all 0.5s linear;
    rotate:calc(360deg);
    animation-duration: .5s;
}



@media screen and (max-width: 1400px) {
       .main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "gold gold"
            "perclick persec";
        }
        .inventory-container.per-click{
            grid-area: perclick;
        }
        .inventory-container.per-sec{
            grid-area: persec;
        }
        
        .clicking-area-container {
           
            grid-area:gold;
        } 
}

@media screen and (max-width:992px) {
    .main-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gold"
        "perclick"
        "persec";
    }
       
}

@media screen and (max-width:576px) {
    
    
}